﻿@model IEnumerable<HolaMvc.Models.EmpleadoListaModelo>

@{
    ViewBag.Title = "Lista";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Nuevo", "Nuevo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NacidoEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NacidoEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorreoElectronico)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href=@Url.Action("Editar",new { id = item.Id })>Editar</a></li>
                    <li><a href=@Url.Action("Ver",new { id = item.Id })>Ver</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href=@Url.Action("Eliminar",new { id = item.Id })>Eliminar</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
