﻿@model HolaMvc.Models.ArticuloEditModel

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ArticuloEditModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadDeMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadDeMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicación)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Nombre)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Lista", "lista")
        </div>
    }
</div>
