﻿@model IEnumerable<HolaMvc.Models.ArticuloListaModel>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Nuevo", "Nuevo")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicación)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicación)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            <div class="btn-group">
                <button type="button" 
                        class="btn btn-default dropdown-toggle" 
                        data-toggle="dropdown" 
                        aria-haspopup="true" 
                        aria-expanded="false">
                    <span>
                    <i class="glyphicon glyphicon-cog"></i> 
                    <span class="caret"></span>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href=@Url.Action("Editar",new { id = item.Id })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a></li>
                    <li><a href=@Url.Action("Ver",new { id = item.Id })><i class="glyphicon glyphicon-zoom-in"></i>&nbsp;Ver</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href=@Url.Action("Eliminar",new { id = item.Id })><i class="glyphicon glyphicon-trash"></i>&nbsp;Eliminar</a></li>
                </ul>
            </div>
        </td>
    </tr>
}

</table>
